{% extends 'base.html' %} 

{% load static %}

{% block title %} About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white" style="background-color: blue;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Realtor Company</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="bc" class="mt-3" >
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #DBE2EF;">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">Since 2022, we have been your reliable partner in the field of sales and rental of luxury real estate. Our real estate meets the high requirements for the terrain, an increased level of comfort and an elite lifestyle.</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">Finding a happy home or a successful sale of real estate is based on the individual wishes of the client. Therefore, we focus on high quality customer service, personal approach and reliability in relationships. It doesn't matter if you are a single expat or a family of five.
						We guarantee a high level of communication, visual presentation of our offer and service. We take into account such parameters as the terrain, the comfort of housing and the standard of living. Our portfolio of luxury real estate includes exclusive apartments, family homes and land plots in popular parts of Prague and its surrounding areas. All real estate objects meet the high requirements for modern housing of an increased level of comfort.</p>
        </div>
        <div class="col-md-4">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}
            <div class="card" style="box-shadow: 0 0 3px;">
                <img class="card-img-top" src="{{ realtor.photo.url }}" alt="Seller of the month">
                <div class="card-body">
                  <h5 class="card-title">Seller Of The Month</h5>
                  <h6 style="color: #3F72AF;">{{ realtor.name }}</h6>
                  <p class="card-text">{{ realtor.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section id="work" class="text-black text-center" style="background-color: #DBE2EF;">
    <h2 class="display-4">We Work For You</h2>
    <h4>We guarantee a high level of communication, visual presentation of our offer and service.</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn text-white btn-lg" style="background-color: #3F72AF;">View Our Featured Listings</a>
  </section>

  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
          <div class="col-md-4">
              <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
              <h4>{{ realtor.name }}</h4>
              <p>
                <i class="fas fa-award mb-3"></i> Realtor</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Realtors Available</p>
          </div>
        {% endif %}       
      </div>
    </div>
  </section>

{% endblock %}
