{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
  <title>{% block title %}{% endblock %}</title>
	<style>
		i{
			color: #3F72AF;
		}
	</style>
</head>

<body style="background-color: #DBE2EF">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background-color: ">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li
					{% if '/' == request.path %}
						class="nav-item active mr-3"
					{% else %}
						class="nav-item mr-3"
					{% endif %}
				>
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li
					{% if 'about' in request.path %}
						class="nav-item active mr-3"
					{% else %}
						class="nav-item mr-3"
					{% endif %}
				>
					<a class="nav-link" href="{% url 'about' %}">About</a>
				</li>
				<li {% if 'listings' in request.path %} class="nav-item active mr-3"
					{% else %} class="nav-item mr-3"
					{% endif %}>
					<a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<li
					{% if 'dashboard' in request.path %}
						class="nav-item active mr-3"
					{% else %}
						class="nav-item mr-3"
					{% endif %}
					>
						<a class="nav-link" href="{% url 'dashboard' %}">
						 Welcome {{ user.username }} (Dashboard)</a>
					</li>
					<li class="nav-item mr-3">
						<a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
							<i class="fas fa-sign-out-alt"></i> Logout
						</a>
						<form action="{% url 'logout' %}" method="POST" id="logout">
							{% csrf_token %}
							<input type="hidden">
						</form>
					</li>
				{% else %}
					<li
					{% if 'register' in request.path %}
						class="nav-item active mr-3"
					{% else %}
						class="nav-item mr-3"
					{% endif %}
					>
						<a class="nav-link" href="{% url 'register' %}">
							<i class="fas fa-user-plus"></i> Register</a>
					</li>
					<li
					{% if 'login' in request.path %}
						class="nav-item active mr-3"
					{% else %}
						class="nav-item mr-3"
					{% endif %}
					>
						<a class="nav-link" href="{% url 'login' %}">
							<i class="fas fa-sign-in-alt"></i>
							Login</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

  {% block content %} {% endblock %}
 
<footer id="main-footer" class="py-4 text-white text-center" style="background-color: #112D4E;">
  Copyright &copy;
  <span class="year"></span> Realtor Company
	<div class="container">
    <div class="row">
			<div class="col-md-4">
        <i class="fas fa-envelope-open"></i> &nbsp;ens@sdu.edu.kz
      </div>
      <div class="col-md-4">
        <i class="fas fa-phone"></i> &nbsp;+77474519384
      </div>
			<div class="col-md-4">
        <i class="fas fa-address-card"></i> &nbsp;Kazakhstan, Almaty, Karasay Kaskelen city
      </div>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'js/lightbox.min.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
</body>
</html>